.equip-subtitle-container{
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.equip-subtitle-container *{
    width: 100%;
}

.equip-subtitle-container .subtitle{
    width: 100%;
    font-size: 1.15rem;
    line-height: 4;
}