
.register-page-label {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 12px;
}

.register-page-inputbox {
    width: 100%;
    height: 50px;
    padding-bottom: 230px;
    flex-flow: column;
}