.eqipInfo-container {
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.eqipInfo-container>h3 {
    width: 100%;
    border-bottom: 1px solid lightgray;
    line-height: 4;
    font-weight: 1.15rem;
    font-weight: normal;
}

.eqipInfo-container>hr {
    margin: 10px 0px;
    border: 0;
    border-bottom: 1px solid rgb(239, 239, 239);
}

.eqipInfo-container .profile-details-container {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.eqipInfo-container .profile-details-container .field-container {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
}

.eqipInfo-container .profile-details-container .field-container h5 {
    min-width: 100px;
    font-weight: 500;
    font-size: 0.825rem;
}

.eqipInfo-container .profile-details-container .field-container .property-feild {
    flex: 1;
}

