.page-header-container {
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-header-container .top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header-container .header-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.page-header-container .header-left .header-subtitle {
    font-size: 0.75rem;
    color: rgb(149, 149, 149);
}

.page-header-container .header-left .header-title {
    font-size: 1.45rem;
    font-weight: 500;
    line-height: 2;
}

.page-header-container .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-header-container .bottom{
    width: 100%;
}

.page-header-container .bottom div{
    width: 100%;
    font-size: 1.15rem;
}